body
{
    background-color: #d9edf7 !important;
}

#map
{
    float: left;
    min-height: 830px;
    width: 100%;
    border: 2px solid #AAA;
}

#tool-div
{
    background-color: gray;
    padding: 10px;
    padding-top: 35px;
}

.btn, .panel
{
    overflow: hidden;
    text-overflow: ellipsis;
}

#map
{
    font-size: 8pt;
}

.tooltip-title
{
    font-weight: bold;
}

.check-div label
{
    font-weight: normal;
}
